<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://owners2api.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>owners2api.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>Owners2API</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$Owners2API</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="OwnersPetsContext" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:musbreath.database.windows.net,1433;Initial Catalog=OwnersPets;Persist Security Info=False;User ID=breath;Password=Eugene280284;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" Name="Server=tcp:musbreath.database.windows.net,1433;Initial Catalog=OwnersPets;Persist Security Info=False;User ID=breath;Password=Eugene280284;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=HOME-PC;Initial Catalog=OwnersPets;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\OwnersPetsContext_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=HOME-PC;Initial Catalog=OwnersPets;Integrated Security=SSPI;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="AuthContext" Order="2" Enabled="False">
          <Destination Path="Data Source=tcp:musbreath.database.windows.net,1433;Initial Catalog=AngularJSAuth;Persist Security Info=False;User ID=breath;Password=Eugene280284;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" Name="Server=tcp:musbreath.database.windows.net,1433;Initial Catalog=AngularJSAuth;Persist Security Info=False;User ID=breath;Password=Eugene280284;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=HOME-PC;Initial Catalog=AngularJSAuth;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\AuthContext_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=HOME-PC;Initial Catalog=AngularJSAuth;Integrated Security=SSPI;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)AuthContext-Web.config Connection String">
      <ParameterValue>Server=tcp:musbreath.database.windows.net,1433;Initial Catalog=AngularJSAuth;Persist Security Info=False;User ID=breath;Password=Eugene280284;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)OwnersPetsContext-Web.config Connection String">
      <ParameterValue>Server=tcp:musbreath.database.windows.net,1433;Initial Catalog=OwnersPets;Persist Security Info=False;User ID=breath;Password=Eugene280284;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>